sudo: required
services:
  - docker

before_install:
  - docker build -t seethentype/react-test ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true seethentype/react-test npm test

after_success:
 - docker build -t seethentype/multi-client ./client
 - docker build -t seethentype/multi-nginx  ./nginx
 - docker build -t seethentype/multi-server ./server
 - docker build -t seethentype/multi-worker ./worker

- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin


 - docker push seethentype/multi-client
 - docker push seethentype/multi-nginx
 - docker push seethentype/multi-server
 - docker push seethentype/multi-worker


